<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title><%= __('Welcome To') %> <%= title %></title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
    <!-- Third party plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="../stylesheets/style.css" rel="stylesheet" />


</head>
<body>
<!-- Navigation-->
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container">
            <h3><%= __('Welcome to') %> <%= title %></h3>
            <% getLocales().forEach(locale => { %>
                <% if(locale === 'es'){ %>
                    <a href="/change-locale/<%= locale %>"><img src="../images/spain.jpg" alt="" class="flag-language"></a>
                <% } else{ %>
                        <a href="/change-locale/<%= locale %>"><img src="../images/england.png" alt="" class="flag-language"></a>
                <% } %>
            <% }) %>

            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto my-2 my-lg-0">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="http://localhost:3000"><%= __('Home')%></a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="http://localhost:3000/anuncios-lista"><%= __('Page-Example')%></a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="http://localhost:3000/api/anuncios"><%= __('Advertisements')%></a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>